* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

a {
  text-decoration: none;
}

label {
  color: rgb(249, 147, 59);
  font-size: 12px;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid;
  border-color: rgb(169, 169, 169);
}

.topnav {
  flex-grow: 1;
}

.topnav a {
  margin-right: 50px;
  color: rgb(120, 120, 120);

}

.user-logo {
  width: 50px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.right-contents {
  max-width: 500px;
  padding: 50px;
}

.product-image {
  max-width: 400px;
  border-radius: 10px;
}

.heading {
  color: rgb(28, 28, 28);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  margin-top: 10px;
}

.heading-paragraph {
  margin-top: 20px;
  color: rgb(96, 96, 96);
  font-size: 13px;
  line-height: 1.6;
}

.diff-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.diff-products img {
  max-width: 80px;
  border-radius: 15px;
}

.prices-discount {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}


.discount {
  font-size: 12px;
  color: rgb(245, 96, 76);
  background-color: rgb(247, 221, 76);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 7px;
  font-weight: 700;
}


.add-to-card {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(245, 133, 53);
  border-radius: 10px;
  max-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.add-to-card a {
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 887px) {
  nav {
   max-width: 800px;
  }

  .heading-paragraph {
    font-size: 11px;
  }

  .product-image {
    max-width: 300px;
  }

  .diff-products img {
    max-width: 60px;
  }

  .add-to-card {
    max-width: 200px;
  }
  
  .logo-image img {
    max-width: 120px;
  }

  .topnav a {
    font-size: 12px;
  }
}

@media screen and (max-width: 799px) {
  nav {
   max-width: 700px;
  }
  
  .logo-image img {
    max-width: 80px;
  }

  .content {
    gap: 10;
  }

  .diff-products img {
    max-width: 50px;
  }

  .right-contents {
    max-width: 400px;
    
  }

  .topnav a {
    font-size: 10px;
  }
  
  .product-image {
    max-width: 250px;
  }

  .add-to-card {
    margin-top: 18px;
  }

  .right-contents {
    padding: 30px;
  }

  .user-logo {
    width: 30px;
  }

  .right-content a {
    width: 15px;
  }
}

@media screen and (max-width: 681px) {
  .topnav {
    order: 1;
  }

  .logo-image {
    order: 2;
  }

  .user {
    order: 3;
  }

}


@media screen and (max-width: 675px) {
  .topnav {
    order: 1;
  }

  .logo-image {
    order: 2;
  }

  .user {
    order: 3;
  }

  nav {
    flex-direction: column;
    text-align: center;
  }


  .topnav a {
    font-size: 10px;
    font-weight: 700;
  }

  .content {
    flex-wrap: wrap;
  }

  .right-contents {
    text-align: center;
  }

  .prices-discount {
    justify-content: center;
  }

  .add-to-card {
    margin-left: auto;
    margin-right: auto;
  }

  .logo-image img {
    max-width: 200px;
  }

}



